:root{
    color-scheme: light dark;
    /* light mode color scheme */
    --bg-light: #F9F9F9;
    --primary-card-light: #fff;
    --secondary-card-light: #f2f2f7;
    --border-light: #d1d1d6;
    --primary-text-light: #1c1c1e;
    --secondary-text-light: #3a3a3c;
    --accent-color-light: #007aff;
    --shadow-color-light: rgba(0,0,0,0.05);

    /* dark mode color scheme */
    --bg-dark: #1c1c1e;
        --primary-card-dark: #2c2c2e;
        --secondary-card-dark: #3a3a3c;
        --border-dark: #48484a;
        --primary-text-dark: #fff;
        --secondary-text-dark: #d1d1d6;
        --accent-color-dark: #0a84ff;
        --shadow-color-dark: rgba(0, 0, 0, 0.25);
}
@media (prefers-color-scheme: light){

}

@media (prefers-color-scheme: dark){

}
