*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


:root {
    /* dark mode color scheme */
    --bg-color: #1c1c1e;
    --primary-card-color: #2c2c2e;
    --secondary-card-color: #3a3a3c;
    --border-color: #48484a;
    --primary-text-color: #fff;
    --secondary-text-color: #d1d1d6;
    --accent-color: #df6437;
    --shadow-color: rgba(0, 0, 0, 0.25);
    --white: #fff;
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light dark;
        /* light mode color scheme */
        --bg-color: #F9F9F9;
        --primary-card-color: #fff;
        --secondary-card-color: #f2f2f7;
        --border-color: #d1d1d6;
        --primary-text-color: #1c1c1e;
        --secondary-text-color: #3a3a3c;
        --accent-color: #f25015;
        --shadow-color: rgba(0, 0, 0, 0.05);
        --white: #fff;
    }
}

body {
    background-color: var(--bg-color);
    font-family: 'Inter', sans-serif;
    color: var(--primary-text-color);
    height: 100vh;
    overflow: hidden;
}

header {
    border-bottom: 1px solid var(--border-color);
    padding-block: 0.5em;
    background-color: var(--bg-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    max-height: 0.5em;
    padding-block: 3em;
    margin-inline: auto;
    font-weight: bold;
}

nav img {
    width: 10em;
    object-fit: contain;
}

nav h1 {
    color: var(--primary-text-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    flex: 1;
    margin-left: 3.5em;
}

.navlist {
    display: flex;
    justify-content: space-between;
    gap: 3em;
}

.navlist li {
    background-color: var(--border-color);
    padding: 0.8em 1em;
    border-radius: 50%;
    opacity: 0.9;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

.primary-wrapper {
    margin-top: 1em;
    padding: 3em;
    background-color: var(--primary-card-color);
    max-width: 800px;
    height: 520px;
    margin-inline: auto;
    border-radius: 15px;
    font-weight: 600;
    box-shadow: 5px 5px var(--shadow-color);
}

.flex-wrapper {
    display: flex;
    justify-content: space-around;
}

.flex-wrapper label {
    display: block;
    margin-bottom: 0.5em;
    color: var(--secondary-text-color);
}


fieldset {
    border: none;
    font-size: 1.2rem;
}

.sample-text {
    background-color: var(--secondary-card-color);
    color: var(--secondary-text-color);
    padding: 3em;
    margin-block: 1.5em;
    border-radius: 12px;
    text-align: center;
    font-size: 1.3rem;
}

.results {
    text-align: center;
    margin-bottom: 1em;
}

.results span {
    background-color: var(--secondary-card-color);
    padding: 0.3em;
    color: var(--secondary-text-color);
    font-size: 1.2rem;
    display: block;
}

.btn {
    color: var(--white);
    font-weight: 600;
    padding: 0.5em 1em;
    font-size: 1.2em;
    background-color: var(--accent-color);
    border-radius: 12px;
    box-shadow: 4px 4px 5px var(--shadow-color);

    &:hover {
        cursor: pointer;
        opacity: 0.9;
        scale: 0.9;
    }
}

.btn-wrapper {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: 1em;
}

footer {
    text-align: center;
    margin-top: 1.5em;
}

footer a {
    border-bottom: 2px dashed var(--border-color);
    color: var(--accent-color);
}

.mobile {
    display: none;
}

/* Mobile UnderConstruction "Feature" */

@media screen and (max-width: 806px) {

    header,
    main {
        display: none;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    footer img{
        
    }

    .mobile {
        display: block;
        margin: 2em;
        font-size: 2.2rem;
        text-wrap: balance;
    }
}